<h1 mat-dialog-title>Connect to Local OBS Websocket</h1>
<div mat-dialog-content>
    <div class="p-2">

        <!-- Bind the form to the FormGroup -->
        <form [formGroup]="connectionForm">
            <!-- Server Address Input -->
            <mat-form-field appearance="outline" class="full-width pt-2">
                <mat-label>OBS Websocket Address</mat-label>
                <input
                    matInput
                    formControlName="serverAddress"
                    placeholder="192.168.1.1"
                />
            </mat-form-field>

            <!-- Port Number Input -->
            <mat-form-field appearance="outline" class="full-width pt-2">
                <mat-label>Port Number</mat-label>
                <input
                    matInput
                    type="number"
                    formControlName="port"
                    placeholder="4455"
                />
            </mat-form-field>

            <!-- Password Input -->
            <mat-form-field appearance="outline" class="full-width pt-2">
                <mat-label>Password</mat-label>
                <input
                    matInput
                    type="password"
                    formControlName="password"
                    placeholder="Enter your password"
                />
            </mat-form-field>
        </form>

        <mat-expansion-panel class="mb-5">
            <mat-expansion-panel-header>
                <mat-panel-title>Need help?</mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Obs Websocket is built into OBS in 2022 and all connection details can
                be found within the obs app. Here are instructions on accessing those details:  
                <a href="../../../assets/pdfs/" download="OBS-WebSocket-Help.pdf">
                    Download Help PDF
                </a>
            </p>
            <p>
                If you are have any questions, feel free to shoot me an
                email at
                <a href="mailto:henley.austin@gmail.com"
                    >henley.austin&#64;gmail.com</a
                >.
            </p>
        </mat-expansion-panel>
    </div>
</div>

<div mat-dialog-actions align="end">
    <div
        [matTooltip]="
            connectionForm.invalid ? 'Enter valid details to continue' : ''
        "
    >
        <button
            mat-raised-button
            color="primary"
            (click)="submit()"
            [disabled]="connectionForm.invalid"
        >
            Connect
        </button>
    </div>
</div>
