<h1 mat-dialog-title>Connect to OBS</h1>
<div mat-dialog-content>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>OBS WebSocket Address</mat-label>
        <input
            matInput
            [formControl]="obsAddressControl"
            placeholder="ws://localhost:4455"
        />
        <mat-error *ngIf="obsAddressControl.invalid"
            >OBS address is required</mat-error
        >
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>OBS Password</mat-label>
        <input matInput type="password" [formControl]="obsPasswordControl" />
        <mat-error *ngIf="obsPasswordControl.invalid"
            >Password is required</mat-error
        >
    </mat-form-field>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Need help?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Enter the address and password for the OBS WebSocket server.</p>
        <p>
            If you are unsure, please check your OBS WebSocket plugin settings.
        </p>
    </mat-expansion-panel>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="submit()">
        Connect
    </button>
</div>
