@use 'sass:map';

$_palettes: (
    primary: (
        0: #000000,
        10: #001b3e,
        20: #0a305f,
        25: #1a3b6b,
        30: #274777,
        35: #345384,
        40: #415f91,
        50: #5a77ab,
        60: #7491c7,
        70: #8eace3,
        80: #aac7ff,
        90: #d6e3ff,
        95: #ecf0ff,
        98: #f9f9ff,
        99: #fdfbff,
        100: #ffffff
    ),
    secondary: (
        0: #000000,
        10: #111c2e,
        20: #263144,
        25: #313c4f,
        30: #3c475b,
        35: #485367,
        40: #545f74,
        50: #6d778d,
        60: #8691a8,
        70: #a1abc3,
        80: #bcc7df,
        90: #d8e3fc,
        95: #ecf0ff,
        98: #f9f9ff,
        99: #fdfbff,
        100: #ffffff
    ),
    tertiary: (
        0: #000000,
        10: #320837,
        20: #4a204d,
        25: #562b59,
        30: #633665,
        35: #6f4272,
        40: #7d4e7f,
        50: #986699,
        60: #b37fb4,
        70: #d099d0,
        80: #edb4ec,
        90: #ffd6fc,
        95: #ffebfa,
        98: #fff7fa,
        99: #fffbff,
        100: #ffffff
    ),
    neutral: (
        0: #000000,
        10: #1a1b1f,
        20: #2f3034,
        25: #3a3b3f,
        30: #46474a,
        35: #515256,
        40: #5d5e62,
        50: #76777b,
        60: #909095,
        70: #ababaf,
        80: #c6c6cb,
        90: #e3e2e7,
        95: #f1f0f5,
        98: #faf9fd,
        99: #fdfbff,
        100: #ffffff,
        4: #0d0e11,
        6: #121317,
        12: #1e2023,
        17: #292a2d,
        22: #343538,
        24: #38393d,
        87: #dad9de,
        92: #e8e7ec,
        94: #eeedf2,
        96: #f4f3f8
    ),
    neutral-variant: (
        0: #000000,
        10: #181c23,
        20: #2d3038,
        25: #383b43,
        30: #43474f,
        35: #4f525b,
        40: #5b5e67,
        50: #747780,
        60: #8e909a,
        70: #a8abb5,
        80: #c4c6d0,
        90: #e0e2ec,
        95: #eef0fb,
        98: #f9f9ff,
        99: #fdfbff,
        100: #ffffff
    ),
    error: (
        0: #000000,
        10: #410002,
        20: #690005,
        25: #7e0007,
        30: #93000a,
        35: #a80710,
        40: #ba1a1a,
        50: #de3730,
        60: #ff5449,
        70: #ff897d,
        80: #ffb4ab,
        90: #ffdad6,
        95: #ffedea,
        98: #fff8f7,
        99: #fffbff,
        100: #ffffff
    )
);

$_rest: (
    secondary: map.get($_palettes, secondary),
    neutral: map.get($_palettes, neutral),
    neutral-variant: map.get($_palettes, neutral-variant),
    error: map.get($_palettes, error)
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);
