<mat-toolbar class="header">
    <div class="title">{{ title }}</div>
    <div class="utils">
        @if (loaded) {
        <multi-select></multi-select>
        }
        <button mat-icon-button (click)="themeService.toggleTheme()">
            @if (themeService.currentTheme() == 'dark-theme') {
            <mat-icon>dark_mode</mat-icon>
            } @else {
            <mat-icon>light_mode</mat-icon>
            }
        </button>
    </div>
</mat-toolbar>
<div class="router">
    @if (loaded) {
    <app-slider-page></app-slider-page>
    }
</div>
