<mat-toolbar class="header background-surface-variant">
    <span class="title">{{ title }}</span>
    <div class="utils">
        @if (loaded) {
        <multi-select></multi-select>
        }
        <button mat-icon-button (click)="toggleTheme()">
            @if (currentTheme == themes.dark) {
            <mat-icon>dark_mode</mat-icon>
            } @else {
            <mat-icon>light_mode</mat-icon>
            }
        </button>
    </div>
</mat-toolbar>
<div class="router">
    <router-outlet></router-outlet>
</div>
