.header {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    height: 6vh;
    padding: 0;
    margin: 0;

    .title {
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        flex: 1 0 auto;
    }

    .utils {
        height: 100%;
        display: flex;
        gap: 20px;
        align-items: center;
    }
}

.router {
    height: 94vh;
    width: 100vw;
}

@media (min-width: 768px) {
    .utils {
        position: absolute;
        right: 5px;
        top: 0;
        margin-left: auto;
    }
}

/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
    .header {
        height: 12vh;
        flex-direction: column;
        gap: 5px;
    }

    .router {
        height: 88vh;
        width: 100vw;
    }
    .title {
        text-align: center;
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 200;
        padding: 10px;
    }
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
}
