<div class="container">
    <button (click)="goToPreviousPage()" [disabled]="currentPage === 0">
        Previous
    </button>
    <div
        class="page"
        cdkDropList
        cdkDropListOrientation="mixed"
        (cdkDropListDropped)="drop($event)"
    >
        @for (slider of getItemsForCurrentPage(); track slider.inputUuid) {
        <div class="slider" cdkDrag>
            <div *cdkDragPlaceholder></div>
            <mat-card appearance="outlined" class="">
                <div class="slider-option">
                    <button mat-icon-button (click)="removeOption(slider.inputUuid)">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <mat-icon class="grab" cdkDragHandle
                        >drag_indicator</mat-icon
                    >
                    <!-- <div class="handle" cdkDragHandle>:::</div> -->
                </div>
                <mat-card-content
                    ><label for="{{ slider.inputUuid }}">{{
                        slider.inputName
                    }}</label>
                    <mat-slider id="{{ slider.inputUuid }}" [discrete]="true">
                        <input matSliderThumb /> </mat-slider
                ></mat-card-content>
            </mat-card>
        </div>
        }
    </div>
    <button
        mat-icon-button
        class="prev-page-button"
        (click)="goToPreviousPage()"
        [hidden]="currentPage === 0"
    >
        <mat-icon color="primary">arrow_back_ios_new</mat-icon>
    </button>
    <button
        mat-icon-button
        class="next-page-button"
        (click)="goToNextPage()"
        [hidden]="currentPage === totalPages - 1 || totalPages === 0"
    >
        <mat-icon color="primary">arrow_forward_ios_new</mat-icon>
    </button>
</div>
