<div class="container">
    <button (click)="goToPreviousPage()" [disabled]="currentPage === 0">
        Previous
    </button>
    <div
        class="page"
        cdkDropList
        cdkDropListOrientation="mixed"
        (cdkDropListDropped)="drop($event)"
    >
        @for (slider of getItemsForCurrentPage(); track slider.uuid) {
        <div class="slider" cdkDrag>
            <slider-card
                [slider]="slider"
                (remove)="removeOption(slider.uuid)"
                (newVolume)="changeVolume(slider.uuid, $event)"
            ></slider-card>
        </div>
        }
    </div>
    <button
        mat-icon-button
        class="prev-page-button"
        (click)="goToPreviousPage()"
        [hidden]="currentPage === 0"
    >
        <mat-icon color="primary">arrow_back_ios_new</mat-icon>
    </button>
    <button
        mat-icon-button
        class="next-page-button"
        (click)="goToNextPage()"
        [hidden]="currentPage === totalPages - 1 || totalPages === 0"
    >
        <mat-icon color="primary">arrow_forward_ios_new</mat-icon>
    </button>
</div>
