.container {
    display: flex;
    padding-top: 20px;
    overflow-x: scroll;
    height: 100%;
    width: 100%;
    scroll-snap-type: x mandatory;
}

.page {
    flex-shrink: 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-auto-rows: 150px; /* Fixed height for each row */
    grid-auto-flow: row dense; /* Fill rows before moving to the next column */
    width: 100vw; /* Each page should fill the viewport width */
    height: 100%; /* Height based on rows and gaps */
    scroll-snap-align: start;
    box-sizing: border-box;
    padding: 20px;
    overflow: hidden; /* Prevent vertical scrolling */
}

.slider {
    margin: auto;
    width: 85%;
    height: 100%; /* Take full height of the grid cell */

    mat-slider {
        width: 100%;
    }
}

.prev-page-button {
    position: fixed;
    left: 5px;
    bottom: 50vh;
}

.next-page-button {
    position: fixed;
    right: 5px;
    bottom: 50vh;
}

mat-card {
    position: relative;
    padding: 20px;

    .slider-option {
        position: absolute;
        display: flex;
        align-items: center;
        top: 5px;
        right: 10px;
    }

    .grab {
        cursor: grab;
    }
}

@media (max-width: 768px) {
    .page {
        grid-template-columns: 1fr; /* Single column on small screens */
        grid-auto-rows: 120px; /* Adjust rows for single column layout */
    }
}
