.page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    width: 100vw;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.prev-page-button {
    position: fixed;
    left: 5px;
    bottom: 50vh;
}

.next-page-button {
    position: fixed;
    right: 5px;
    bottom: 50vh;
}

.full-window {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
    scroll-snap-type: x mandatory;
}

/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
    .page {
        padding: 40px;
    }

    .slider {
        width: 80vw;
    }

    .container {
        padding-top: 1.5rem;
    }

    .prev-page-button {
        left: 1px;
    }

    .next-page-button {
        right: 1px;
    }
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
}
